/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif; }

@font-face {
  font-family: "Prompt", sans-serif;
  src: url(./font/Prompt-Black.ttf); }

/*Paginas*/
header nav {
  background-color: #DDE5BE;
  height: 60px;
  display: flex;
  flex-direction: row-reverse; }
  header nav .menu {
    display: none; }
  header nav ul li {
    list-style: none;
    margin: 10px;
    display: inline-block; }
    header nav ul li a {
      text-decoration: none;
      display: block;
      padding: 10px;
      color: #73141B;
      font-family: "Prompt", sans-serif; }
      header nav ul li a:hover {
        color: black;
        background-color: #f1ded3; }
  header nav .h2nav {
    color: #73141B;
    margin: 10px;
    left: 60px;
    position: absolute;
    font-family: "Prompt", sans-serif; }
  header nav .logo {
    width: 50px;
    height: 50px;
    margin: 5px;
    left: 5px;
    position: absolute; }

main {
  background-color: #DEB299; }
  main h1 {
    font-family: "Prompt", sans-serif; }
  main p {
    font-family: "Roboto", sans-serif;
    font-size: 25px; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #DDE5BE;
  height: 100px; }
  footer a {
    padding: 10px;
    margin: 10px; }
    footer a .redes {
      color: #73141B;
      text-decoration: none; }
      footer a .redes:visited {
        color: #DEB299; }
      footer a .redes:hover {
        color: gray; }

@media (max-width: 768px) {
  header nav .menu {
    display: block;
    font-size: 30px;
    margin: 15px;
    color: #73141B; }
    header nav .menu:hover + ul {
      top: 0; }
  header nav ul {
    position: absolute;
    flex-direction: column;
    background-color: #DDE5BE;
    width: 180px;
    height: 400px;
    padding-top: 60px;
    align-items: center;
    top: -500px;
    transition: 0.2s; }
    header nav ul a {
      font-size: 15px; }
    header nav ul:hover {
      top: 0; }
  header nav .logo {
    position: absolute; }
  header nav .h2nav {
    display: none; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

@media (max-width: 320px) {
  header nav .menu:hover + ul {
    right: 0; }
  header nav .menu ul {
    right: 500px;
    width: 190px;
    height: 400px;
    padding-top: 60px;
    right: -500px;
    transition: 0.2s; }
    header nav .menu ul:hover {
      right: 0; }
  header nav .menu .logo {
    width: 50px;
    height: 50px;
    margin: 5px;
    left: 5px; }
  header nav .menu .h2nav {
    display: none; }
  footer {
    height: 200px;
    justify-content: space-around;
    padding: 4rem; }
    footer .redes {
      margin-top: 10px; } }

/*Index*/
.mainIndex .portada {
  width: 100%;
  height: 300px; }

.mainIndex .gridIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "h1 h1 img" "p p img" "p p img"; }

.mainIndex .gridH1 {
  grid-area: h1;
  padding-left: 200px;
  margin-top: 10px;
  font-family: "Prompt", sans-serif; }

.mainIndex .gridPindex {
  grid-area: p;
  margin: 10px;
  padding: 10px; }

.mainIndex .imgIndex {
  height: 500px; }

.mainIndex .gridIindex {
  grid-area: img; }

@media (max-width: 768px) {
  .mainIndex .portada {
    width: 400px;
    height: 200px; }
  .mainIndex .gridIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h1 h1 h1" "img img img" "p p p"; }
  .mainIndex .gridH1 {
    margin: auto;
    padding: 20px; }
  .mainIndex .gridPindex {
    grid-area: p;
    margin: 10px;
    padding: 10px; }
  .mainIndex .gridIindex {
    grid-area: img;
    margin: auto; }
  .mainIndex .imgIndex {
    width: 100%;
    height: 250px; } }

@media (max-width: 320px) {
  .imgIndex {
    width: 100%;
    height: 300px; }
  h1 {
    font-size: 20px; }
  p {
    font-size: 15px; } }

/*Albums*/
.mainAlbums {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
  justify-content: space-evenly; }
  .mainAlbums .card {
    width: 50rem;
    margin: 10px;
    padding: 10px; }
  .mainAlbums .h1Albums {
    text-align: center;
    padding-bottom: 20px;
    background-color: #DEB299;
    padding-top: 10px; }
  .mainAlbums .h2Albums {
    text-align: center;
    font-family: "Prompt", sans-serif;
    color: #73141B;
    padding-bottom: 10px;
    font-size: 30px; }
  .mainAlbums .pAlbums {
    padding: 5px;
    font-family: "Roboto", sans-serif; }

@media (max-width: 780px) {
  .mainAlbums {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainAlbums .card {
      width: 30rem; } }

@media (max-width: 320px) {
  .mainAlbums .card {
    width: 100%; } }

/*Colaboraciones*/
.mainColaboraciones__h2 {
  color: #73141B;
  text-decoration: underline; }

.mainColaboraciones__collage {
  width: 100%;
  height: 1000px; }

.mainColaboraciones__img {
  width: 500px;
  height: 500px; }

@media (max-width: 780px) {
  .mainColaboraciones__img {
    width: 400px;
    height: 400px; } }

@media (max-width: 320px) {
  .mainColaboraciones__collage {
    height: 300px; }
  .mainColaboraciones__img {
    width: 200px;
    height: 200px; } }

/*Galeria*/
.mainGaleria .imgGaleria {
  width: 300px;
  height: 300px; }

/*Contacto*/
.mainContacto__h1 {
  text-align: center;
  padding-top: 50px; }

.mainContacto__p {
  text-align: center;
  padding-top: 20px; }

.mainContacto__formulario {
  width: 600px;
  height: 600px;
  margin: auto;
  padding: 50px; }
  .mainContacto__formulario fieldset {
    display: flex;
    flex-direction: column;
    border: solid 3px;
    color: #73141B;
    padding: 20px; }
  .mainContacto__formulario--fuente {
    font-family: "Prompt", sans-serif;
    font-size: 15px;
    color: black; }
  .mainContacto__formulario .tya {
    padding: 10px;
    text-align: center; }

@media (max-width: 780px) {
  .mainContacto__h1 {
    padding-top: 0; }
  .mainContacto__p {
    padding-top: 0; }
  .mainContacto__formulario {
    padding: 10px; }
    .mainContacto__formulario textarea {
      height: 100px; } }

@media (max-width: 320px) {
  .mainContacto__h1 {
    padding-top: 0; }
  .mainContacto__p {
    padding: 0; }
  .mainContacto__formulario {
    width: 250px;
    height: 500px;
    margin: 0;
    padding: 0; }
    .mainContacto__formulario fieldset {
      border: none;
      padding: 0;
      margin: 10px; }
    .mainContacto__formulario textarea {
      width: 300px;
      height: 100px; }
    .mainContacto__formulario .tya {
      padding: 5px; } }
