.mainAlbums {
    display: flex;
    padding: 10px;
    margin: auto;
    justify-content: space-evenly;
    .h1Albums {
        text-align: center;
        padding-bottom: 20px;
    }
    .card {
        width: 20rem;
    }
}





@media (max-width: 780px){
    .mainAlbums {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
     }
}

@media (max-width: 320px){
    .card {
        width: 100%;
    }
}