.mainColaboraciones{
    &__h2 {
    color: $letras;
    text-decoration: underline;
}

&__img{
    width: 500px;
    height: 400px;
}
}



@media (max-width: 970px){
 .mainColaboraciones{
        &__img {
            width: 400px;
            height: 400px;
        }
    }

}

@media (max-width: 420px) {
  .mainColaboraciones{
        &__h2{
            font-size: 25px;
        }
    
        &__img {
            width: 280px;
            height: 300px;
        }
        
        &__p{
            font-size: 18px;
        }
    
        &__icons{
            font-size: 20px;
        }
    }

}