header{
    nav {
        background-color: $secciones;
        height: 60px;
        display: flex;
        flex-direction: row-reverse;
        .menu{
            display: none;
        }
        
                ul{
                li {
                    list-style: none;
                    margin: 10px;
                    display: inline-block;
                    a {
                        text-decoration: none;
                        display: block;
                        padding: 10px;
                        color: $letras;
                        font-family: $titulo;
                            &:hover{
                                color: $hover;
                                background-color: lighten($color: $fondo, $amount: 15);
                            }
                            
                    }
                }
                
            } 
                .h2nav {
                    color: $letras;
                    margin: 10px;
                    left: 60px;
                    position: absolute;
                    font-family: $titulo;
                }
                .logo {
                    width: 50px;
                    height: 50px;
                    margin: 5px;
                    left: 5px;
                    position: absolute;
                }
    }
}




main {
    background-color: $fondo;
    h1{
        font-family:$titulo;
    }
    p {
        font-family: $contenido;
        font-size: 25px;
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $secciones;
    height: 100px;
        a {
        padding: 10px;
        margin: 10px;
            .redes {
                color: $letras;
                text-decoration: none;
                &:visited{
                    color: $fondo;
                }
                &:hover{
                    color: lighten($color: $hover, $amount: 50);
                }
            
            }
    }

}

 @media (max-width: 768px) {
header{
    nav{
       .menu {
        display: block;
        font-size: 30px;
        margin: 15px;
         color: $letras;
             &:hover + ul{
                 top:0;
             }
         }
         ul { 
             position: absolute;
             flex-direction: column;
             background-color: $secciones;
             width: 180px;
             height: 400px;
             padding-top: 60px;
             align-items: center;
             top: -500px;
             transition: 0.2s;
              a{
              font-size: 15px;
             }
             &:hover{
                top:0;
             }
         }
         .logo {
            position: absolute;
         }
         .h2nav{
             display: none;
         }
     }

     footer {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
     }
}
   

 @media (max-width: 320px){
    header{
        nav{
            .menu {
                     &:hover + ul{
                         right:0;
                     }
            ul{
            right: 500px;
            width: 190px;
            height: 400px;
            padding-top: 60px;
            right: -500px;
            transition: 0.2s;
            &:hover{
                right:0;
             }
        }
        .logo {
            width: 50px;
            height: 50px;
            margin: 5px;
            left: 5px;
        }
        .h2nav{
                display: none;
            }
        } 
    }
}
}